/* prevent browser automated text resizing */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* This will give you the same result, and make it easier to change the box-sizing in plugins or other components that leverage other behavior.*/
*, *:before, *:after {
  box-sizing: inherit;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* hero */
